* {
  padding: 0;
  margin: 0;
}

h2 {
  margin-left: 5px;
}

body, html {
  height: 100%;
}

body {
  font: 14px helvetica, arial, sans-serif;
}

a {
  color: #f00;
}

a:hover {
  color: #000;
}

.site {
  width: 600px;
  margin: 100px auto;
}

.title {
  font-size: 300%;
  font-weight: bold;
  margin-bottom: 10px;
}

.title a {
  text-decoration: none;
}

ul.tracks {
  list-style: none;
  margin-bottom: 10px;
  margin-left: 5px;
  min-height: 200px;
  
}

.post {
  margin-bottom: 10px;
  margin-left: 5px;
  height: 200px;
}

.footer {
  margin-left: 5px; 
  border-top: 5px solid #ccc;
  padding-top: 5px;
}